*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    margin-top: 0;
    padding: auto;
    width: 100%;
    height: 80px;
    background-color: #c5dce7;
    position: fixed;
    display: block;
    transition: 1s;
}

ul{
    margin-right: 3%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header li{
    float: right;
    line-height: 100px;
    list-style: none;
    cursor: pointer;
}

header ul a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
    text-decoration: none;
}

header li a:hover{
    border: 2px solid #118ab2;
    padding: 5px;
}

h1{
    color: #000000;
    font-weight: 400;
    font-size: 2.5rem;
    margin-left:2%;
}

p{
    margin: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

video{
    margin: 2%;
    float: left;
}

.imagen{
    margin-left: 2%;
    margin-right: 5%;
    align-items: center;
    align-content: center;
    display:inline-block;
    border-bottom: solid #008fa8;
    transition: 2s;
}

.videito{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    float: left;
}

section{
    padding: 2rem;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: #118ab2;
    border-radius: 7px;
}